$font-family: 'Open Sans', sans-serif;

$standart-color-text-one: #fff;
$standart-color-text-two: #000;

$accent-one-level: #ADADAD;
$accent-two-level: #848484;
$accent-three-level: #484848;

$content-accent-one: #F0F0F0;

$button-accent: #2FB5FA;
$button-accent-dark: #1A7FB2;
$message-accent: #D4F7FF;

$attention: #FF4141;

@mixin standart_text {
    font-family: $font-family;
    font-size: 16px;
    font-weight: 400;
}
@mixin middle_text {
    font-size: 14px;
}
@mixin small_text {
    font-size: 12px;
}

*, *::placeholder {
    @include standart_text;
    box-sizing: border-box;
    outline: none;
}